#homeIcon{
    width: 2em;
    height: 2em;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header{
    margin-top: .5em;
    margin-bottom: 1em;
    border-bottom-style: solid;
}
.header{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5em;
}