{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table>
                {{form.as_p}}
            </table>
            {% comment %} <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="username" name="uname" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="password" name="psw" required>
            <p id="message"></p> {% endcomment %}
            <button type="submit">Login</button>
        </form>

        {% comment %} <h2>Create Account</h2>
        <form action="{% url 'create_account' %}" method="post">
            {% csrf_token %}
            <table>
                {{ create_account_form }}
            </table>
            <button type="submit">Create Account</button>
        </form> {% endcomment %}
    </div>
{% endblock %}