{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h3> Admin Home Page </h3> 
            <a href="{% url "rules" %}"> rules</a> <br>
            <a href="{% url "live" %}"/> live auction</a> <br>
            <a href="{% url "silent" %}                             q"/> silent auction</a> <br>
            <a href="{% url "users" %}"/> users</a> <br>
            <a href="{% url "payment" %}"/> payment</a> <br>
            <table>
                {% for form in forms%}
                <form action="home" method="post">
                    {% csrf_token %}
                    <span> {{ form.type.value }} Auction</span>
                    {{form.published.as_hidden}}
                    {{form.type.as_hidden}}
                    {% if form.published.value %}
                        <button type="submit">Hide</button>
                    {% else %}
                        <button type="submit">Publish</button>
                    {% endif %}
                </form> <br>
                {% endfor %}
            </table>
        {% else %}
            <h3> Home Page </h3>
            <a href="{% url "rules" %}"> rules</a> <br>
            {% if forms.0.published.value %}
                <a href="{% url "silent" %}"/> silent auction</a> <br>
            {% endif %}
            {% if forms.1.published.value %}
                <a href="{% url "live" %}"/> live auction</a> <br>
            {% endif %}
            <label>Total Amount Bid: </label>
            <p>{{ user.amount }}</p>
        {% endif %}
    {% endif %}
{% endblock %}