{% extends 'base.html' %}
{% block content %}

<h3>Current Item: {{currentItem.title}}</h3>
Description of current Item:{{ currentItem.description}}

<form action='sellLiveItem', method="POST">
    {% csrf_token %}
    <input type="number" name="auctionNumber" id="winning_user">
    <label for="winning_user">Auction Number of Winner:</label>
    <br>

    <input type="number" name="amount" id="winning_amount">
    <label for="winning_amount">Winning Amount:</label>
    <br>

    <input type="hidden" name="pk" value="{{currentItem.pk}}">
    <button type="submit">Submit Winning Bid</button>
</form>

<br><br><br>
<h4>Items on Deck:</h4>

{% for item in items %}
<h5>{{ item.title }}</h5>
{{ item.description }}
{% endfor %}

{% endblock %}