{% extends 'base.html' %}
{% block content %}

<h3>Current Item: {{currentItem.title}}</h3>
Description of current Item:{{ currentItem.description}}

<form action='sellLiveItem', method="POST">
    {% csrf_token %}
    <input type="text" name="number" id="winning_user">
    <label for="winning_user">Auction Number of Winner:</label>
    <br>
    <input type="text" name="amount" id="winning_amount">
    <label for="winning_amount">Winning Amount:</label>
    <br>
    <intput type="text" name={{currentItem.title}}
    <button type="submit">Submit Winning Bid</button>
</form>

<br><br><br>
<h4>Items on Deck:</h4>

{% for item in items %}
<h5>{{ item.title }}</h5>
{{ item.description }}
{% endfor %}

	<form action="receive" method='POST'>
        {% csrf_token %}
        <div>
		    <label for="name">Name:</label>
		    <input type="text" id="name" name="user_name">
        </div>
        <div>
	        <label for="mail">E-mail:</label>
	        <input type="email" id="mail" name="user_mail">
        </div>
        <div>
	        <label for="msg">Message:</label>
    	    <textarea id="msg" name="user_message"></textarea>
        </div>
        <div class="button">
	        <button type="submit">This is the inner submit HTML button text</button>
        </div>
	</form>

{% endblock %}