{% extends 'base.html' %}
{% block content %}
    <table class="table">
        {% if users %}
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Username</td>
            <td>Auction Number</td>
            <td>Payment Amount</td>
            <td>Has Paid</td>
        </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.auction_number }}</td>
                    <td>Bids/Winnings So Far: ${{ user.amount }}</td>
                    <td>
                        <form method="post" action="updateUserPayment">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td>
                                        <input type="hidden" name="username" value="{{ user.username }}">
                                        {% if user.has_paid %}
                                            <input type="checkbox" name="paid" value="checked" checked>
                                        {% else %}
                                            <input type="checkbox" name="paid" value="checked">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button type="submit">Update Payment</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                    <td>Items Won:</td>
                    {% for item in user.items %}
                        <td>{{ item.title }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <strong>There are currently no Users</strong>
        {% endif %}
    </table>{% endblock %}