{% extends 'base.html' %}
{% block content %}
{% comment %} <meta http-equiv="refresh" content="10"/> {% endcomment %}
<h2>Silent auction page</h2>
    {% if user.is_superuser and not published%}
    <h3>Create New Item</h3>
    <form action="{% url "create_item" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{createItemForm.as_table}}
        </table>
        <input type="hidden" name="type" value="silent"></input>
        <button type="submit">Submit</button>
        <hr><br>
    </form>
    {% endif %}
{% if winning %}
<h3>Winning</h3>
<div class="row">
    {% for bid, item, form in winning %}
        <div class="card" style="width: 15em;">
            <div class="card-header greenBackground"><h2>{{ item.title }}</h2> </div>
            <div class="card-body">
                <img src="{{ item.image.url }}" class="card-img-top" alt="image"></img>
                <p>{{ item.description }}</p>
                <p>Current Bid: {{ bid }}</p>
                {% if published %}
                <form action="{% url 'submit_bid' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="item_id" value="{{ item.id }}" />
                    <button type="submit">Bid</button>
                </form>
                {% elif not published and user.is_superuser%}
                    <form action="delete_item" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="silent">
                        <input type="hidden" name="pk" value="{{ item.pk }}">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% if bidon %}
<hr><br>
<h3>Bid On</h3>
<div class="row">
    {% for bid, item, form in bidon %}
        <div class="card" style="width: 15em;">
            <div class="card-header yellowBackground"><h2>{{ item.title }}</h2> </div>
            <div class="card-body">
                <img src="{{ item.image.url }}" class="card-img-top" alt="image"></img>
                <p>{{ item.description }}</p>
                <p>Current Bid: {{ bid }}</p>
                {% if published %}
                <form action="{% url 'submit_bid' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="item_id" value="{{ item.id }}" />
                    <button type="submit">Bid</button>
                </form>
                {% elif not published and user.is_superuser%}
                    <form action="delete_item" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="silent">
                        <input type="hidden" name="pk" value="{{ item.pk }}">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% if unbid %}
<hr><br>
<h3>Unbid</h3>
<div class="row">
    {% for bid, item, form in unbid %}
        <div class="card" style="width: 15em;">
            <div class="card-header"><h2>{{ item.title }}</h2> </div>
            <div class="card-body">
                <img src="{{ item.image.url }}" class="card-img-top" alt="image"></img>
                <p>{{ item.description }}</p>
                <p>Current Bid: {{ bid }}</p>
                {% if published %}
                <form action="{% url 'submit_bid' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="item_id" value="{{ item.id }}" />
                    <button type="submit">Bid</button>
                </form>
                {% elif not published and user.is_superuser%}
                    <form action="delete_item" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="silent">
                        <input type="hidden" name="pk" value="{{ item.pk }}">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

</div>
{% endblock %}