{% extends 'base.html' %}
{% block content %}
    <table>
        {% if users %}
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Auction Number</td>
        </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.auction_number }}</td>
                    <td>
                        <form method="post" action="updateAuctionNumber">
                            {% csrf_token %}
                            <label>Auction Number</label>
                            <input type="text" name="auction_number">
                            <label>Username</label>
                            <input type="text" name="username">
                            <button type="submit">Update Auction Number</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <strong>There are currently no Users</strong>
        {% endif %}
    </table>

    <form method="post">
        {% csrf_token %}
        <table>
            {% comment %} <label>First Name</label>
            {{form.first_name}}<br>
            <label>Last Name</label>
            {{form.last_name}}<br>
            <label>Email Address</label>
            {{form.email}}<br>
            <label>Username</label>
            {{form.username}}<br> {% endcomment %}
            {{form.as_table}}
        </table>
        <button type="submit">Create User</button>
    </form>
{% endblock %}