{% extends 'base.html' %}
{% block content %}
    <table class="table">
        {% if users %}
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Auction Number</td>
        </tr>
            {% for auction_user in users %}
                <tr>
                    <td>{{ auction_user.first_name }}</td>
                    <td>{{ auction_user.last_name }}</td>
                    <td>{{ auction_user.username }}</td>
                    <td>{{ auction_user.email }}</td>
                    <td>{{ auction_user.auction_number }}</td>
                    <td>
                        <form method="post" action="updateAuctionNumber">
                            {% csrf_token %}
                            <label>Auction Number</label>
                            <input type="text" name="auction_number">
                            <input type="hidden" name="username" value="{{ auction_user.username }}">
                            <button type="submit">Update Auction Number</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="updateSuperUser">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ auction_user.username }}">
                            <button type="submit">
                                {% if auction_user.is_superuser %}
                                    Remove Admin
                                {% else %}
                                    Grant Admin
                                {% endif %}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <strong>There are currently no Users</strong>
        {% endif %}
    </table>

    <h4> Register an Offline User </h4>
    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="hidden" name="create_account" value="True">
        <button type="submit">Create User</button>
    </form>
    <br>

    <h4> Change Password of a User</h4>
    <form method="post" action="users">
        {% csrf_token %}
        <table>
            {{change_password_form.as_table}}
        </table>
        <input type="hidden" name="change_password" value="True">
        <button type="submit">Change Password</button>
    </form>
    <br>
{% endblock %}